<div class="control-group pref-minecraft-username">
  <label class="control-label">{{i18n 'user.minecraft_username'}}</label>
  <div class="controls">
    {{input type="text" value=model.custom_fields.minecraft_username class="input-large"}}
  </div>
</div>